

			:root {
  --cp-height: 80px;
  --cpm-height: 80px;
}

#out{
width: 100%;
	overflow:hidden;
}
			article#mediaBox{
				ackground: brown;
				width:100%;
				height: 100vh;
				position:relative;
			}
			section#videoBoxes{
				background: black;
				width: 100%;
				height: calc(100vh - var(--cp-height));
				position:relative;
				display:block;
			}
			footer#controlPanel{
				width:100%;
				background:rgb(34,3,43);
				height: var(--cp-height);
				position:relative;
				display: flex;
				flex-wrap: wrap;
    flex-direction: row;
   
    
    justify-content: flex-end;
		align-items: center;
		
			}
			#remoteVideoBox{
				
				
				position:absolute;
				top:0;
				left:0;
				ackground:pink;
				width: 50%;
				height:100%;
			}
			#localVideoBox{
				position:absolute;
				top:0;
				right:0;
				brder: 1px solid green;
				ackground:blue;
				width:50%;
				height:100%;
			}
			#localVideo, #remoteVideo{
				width:100%;
				height:100%;
				display:inline-block;
			}
			#remoteVideoBox.connecting::after{
				position:absolute;
				color:orange;
				top:50%;
				left:45%;
			}
			#remoteVideoBox.buddy::after, #localVideoBox.buddy::after{
				position:absolute;
				width:100%;
				height:100%;
				top:0;
				left:0;
				background-image: url(/images/buddy.svg);
				ackground-color:red;
				background-position: center;
			background-size: calc(90vh - 20%);
			background-repeat: no-repeat;
			background-color: rgba(#000, 0.5);
				content:"";
				color:orange;
				z-index:10;
			}
			.flex-items{
				display:inline-block;
				width:auto;
				align-self: center;
				margin-right: 1em;
				cursor:pointer;
				z-index:1;
			}
			.flex-items.control{
				border:2px solid transparent;
				padding:2px;
				pointer-events: auto;
				z-index:1;
				width:45px;
				height:45px;
			}
			/*
			.flex-items.control:hover{
			
				border:2px solid white;
				border-radius:10px;
			}*/
			.flex-items svg:hover{
			background:rgba(0,0,0,0);
				fill: red;
			}
		
		.st0.disabled{
			fill:gray;
		}
	.st0{fill:#77B3D4;}
	
	.st1{opacity:0.2;}
	.st2{fill:#231F20;}
	.st3{fill:#FFFFFF;}
	.st4{fill:#4F5D73;}
	
		.flex-items.control img{
				width:100%;
			
			}
			.chat-user{
				color:lightblue;
			}
			.chat-msg{
				
			}
			.chat-div{
				padding:5px;
				margin:5px;
			}
			#privatbtn{
				height:80px;
				width:95px;
				border:none;
				outline:none;
			}
		
		#privatcontainer{
				position:absolute;
				right:0;
				bottom:80px;
				width: 50%;
				height:0%;
				ackground:red;
				overflow:hidden;
				transition: height 0.2s linear;
			}
			#privatcontainer.out{
				height:600%;
			}
			#privatchat{
				display:block;
				position:relative;
				height: calc(100% - 80px);
				background:rgba(0,0,10,0.2);
				color:white;
				overflow-y:auto;
				white-space: pre-line;
				word-wrap: break-word;
				overflow-wrap:break-word;
				z-index:40;
			}
			#underchatbox{
				background:yellow;
				height:80px;
				z-index:11;
				display:block;
				position:relative;
			}
			#privatinput{
	width: calc(100% - 95px);
	height: 80px;
	border:none;
	outline:none;
	vertical-align:top;
	font-size:1rem;
	padding-left:40px;
}
		
		
		
		
			#flagbox{
				position:absolute;
				top:80px; 
				left:60px;
				width:50px;
				height:50px;
			}
			#flag{
				width:100%;
			}
			
	button.btn{
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    background: white;
    color: rgb(255, 254, 200);
    border: 2px solid rgb(255, 254, 200);
    letter-spacing: 1px;
    border-radius: 100%;
    background:rgba(0,0,0,0);
}

button[disabled], button[disabled]:hover {
    background: gray;
    color: rgb(148, 168, 181);
    border-color: silver;
}


button:hover{
    background: rgb(2, 106, 203);
    color: white;
    border-color: silver;
}
section#count{
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
   bckground:red;
    
    justify-content: center;
		align-items: center;
}
			div.count{
				display: inline-block;
				text-align: center;
				self-align:center;
			}
			
			@media screen and (max-width: 861px) and (orientation: landscape){
				body{
					bckground: red;
				}
				#remoteVideoBox.buddy::after, #localVideoBox.buddy::after{
				background-size: calc(100vw - 150%);
			}
			#remoteVideoBox.connecting::after{
				top:45%;
				left:30%;
			}
			#flagbox{
	left:40px;
	top:10px;
}
			}
			
			@media screen and (max-width: 861px) and (orientation: landscape){
				body{
					ackground: red;
				}
				#privatcontainer{
					width:100%;
					ackground:yellow;
					bottom:55px;
				}
				#privatcontainer.out{
					height: calc(99vh - 55px);
				
				}
				
				#underchatbox{
				display:block;
				position:relative;
					height:45px;
					
				}
				#privatinput{
					height:100%;
					width:calc(100% - 50px);
					font-size:0.8rem;
					padding-left:6px;
					background:rgba(225,255,254,0.8);
				}
				#privatbtn{
					width:50px;
					height:45px;
					background:rgba(225,255,254,0.8);
				}
				#privatbtn img{
					width:20px;
					height:30px;
					transform:scale(2,2);
				}
				#privatchat{
					height:calc(100% - 45px);
					bckground:red;
				}
				.flex-items{
					margin-right: 0.5em;
				}
				footer#controlPanel{
					height:55px;
				}
				article#mediaBox{
					height:100vh;
				}
				section#videoBoxes{
			
				height: calc(100vh - 55px);
			}
			}
			
			
			@media screen and (max-width: 695px) and (orientation: portrait){
				html,body{
					bckground: green;
				}
				
				#pagewrap{
					padding:0;
					margin:0;
				}
				article#mediaBox{
					eight:auto;
				}
				#remoteVideoBox{
					width:100%;
					height:50%;
				}
				#localVideoBox{
					width:100%;
					height: 50%;
					top:50%;
				}
				section#videoBoxes{
			
				height: calc(90vh - var(--cpm-height));
			}
				footer#controlPanel{
		
				height: var(--cpm-height);
			}
			#remoteVideoBox.buddy::after, #localVideoBox.buddy::after{
				background-size:35%;
				ackground-size: calc(90vh + 60%);
			}
			#remoteVideoBox.connecting::after{
				
				top:45%;
				left:35%;
			}
			}



@media screen and (max-width: 390px) and (orientation: portrait){
	#remoteVideoBox.buddy::after, #localVideoBox.buddy::after{
				background-size:60%;
}
#flagbox{
	left:5px;
	top:10px;
}
.flex-items{margin-right:0.2em;}
footer#controlPanel{
					height:55px;
				}
#privatcontainer{
					width:100%;
					bottom:55px;
					height:0px;
				}
		#privatcontainer.out{
				height:300px;
				}
				.chat-user{
				
			}
			.chat-msg{
				
			}
				#underchatbox{
		
					height:45px;

					background:rgba(0,0,0,0.1);
					position:relative;
					display:block;
					width:100%;
				}
				#privatinput{
					height:100%;
					width:calc(100% - 45px);
				padding-left:6px;
				background:rgba(225,255,254,0.8);
				}
				#privatbtn{
					width:45px;
					height:45px;
					background:rgba(225,255,254,0.8);
				}
				#privatbtn img{
					transform:scale(2,2);
				}
				
				#privatchat{
				display:block;
				position:relative;
					height:calc(100% - 45px);
					background:rgba(0,0,0,0.1);
				}
				
}
