#suechBox{
	padding:20px;
	margin:50px;
	display:none;
}
.gender-box header{
	line-height: 2;
}
#ageBox{
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.age{
	margin-top:10px;
	margin-bottom:10px;
}
div.gender-wrapper{
	display:grid;
	grid-template-columns: 1fr 1fr;
	order:1px solid green;
	margin-top:10px;
	margin-bottom:10px;
}
div.gender{
	margin-top:10px;
	margin-bottom:10px;
}
#landContainerBox{
		width:50%;
		margin: 0 auto;
		
	}
	#landContainer{
		height:300px;
		overflow:auto;
	}
	.landsection{
	display:grid;
	grid-template-columns: 50px auto;
	background:silver;
	border:1px solid transparent;
	}
	.img-halter{
		width:40px;
		height:40px;
		display:flex;
		padding-left:5px;
		
	}
	.img-halter img{
		width:100%;
		justify-self:center;
		eight:100%;
		object-fit:scale-down;
	}
	#landContainer label{
		display:flex;
	}
	#landContainer .label-me{background: silver;}
	#landContainer label span{
		flex: auto;
		align-self:center;
		padding:4px;
	}
	#landContainer label input{
		width: 15%;
	}
	#btnClose{
		margin-top:10px;
	}
@media screen and (max-width: 501px){}
/* planshet 451x641      */
	
	@media screen and (max-width: 452px) and (orientation: portrait){
	
	#suechBox{
		font-size:3vw;
		margin:5px;
		padding:5px;
	}
	#landContainerBox{
		width:100%;
		}
	.gender{
		display:flex;
		align-items:center;
	}
	.cntlbi{
	font-size:4vw;
		
		aign-self:center;
		justify-self:center;
		transform:translateY(0.2vw);
	
	}
	input[type=radio]{
		vertical-align:middle;
	}
		#ageBox{
			display:block;
			
		}
			input[type=number]{
			width: 40px;
		}
	}
	
	@media screen and (max-height: 642px) and (orientation: landscape){
		#ageBox{
			display:block;
			
		}
		#landContainerBox{
		width:100%;
		}
		input[type=number]{
			width: 40px;
		}
	}
/* 285 x 567 */
	@media screen and (max-height: 286px) and (orientation: landscape){}
	/* ideal for 320x442 */
	@media screen and (max-width: 384px) and (orientation: portrait){}
